/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_grid.scss */
.grid-container,
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_general.scss */
body {
  background-image: url("../../assets/images/crepe_background.jpeg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  overflow-x: hidden;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_inscription.scss */
#site-inscription {
  background: linear-gradient(#fffff5, #fff1b9);
  width: 100vw;
  height: 100vh;
}

/* line 5, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_inscription.scss */
#site-inscription .aligntext {
  text-align: center;
  font-family: "ecrit2";
}

/* line 9, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_inscription.scss */
#site-inscription .erreur {
  color: red;
  text-align: center;
}

/* line 13, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_inscription.scss */
#site-inscription td {
  background-color: #FFF;
}

/* line 16, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_inscription.scss */
#site-inscription tr {
  border: solid;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_connexion.scss */
#site-connexion {
  background: linear-gradient(#fffff5, #fff1b9);
  width: 100vw;
  height: 100vh;
}

/* line 5, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_connexion.scss */
#site-connexion .aligntext {
  text-align: center;
  font-family: "ecrit2";
}

/* line 9, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_connexion.scss */
#site-connexion .erreur {
  color: red;
  text-align: center;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_footer.scss */
#site-footer {
  background-color: #000;
  color: #FFF;
  text-align: center;
}

/* line 4, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_menu.scss */
.menu {
  align-items: center;
  justify-content: center;
}

/* line 8, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_menu.scss */
.menu_change {
  color: #F0E68C;
  font-size: 1.5rem;
  text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}

/* line 13, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_menu.scss */
.change_title_menu {
  font-family: "topicrepe";
  font-size: 4rem;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_body.scss */
#site-body {
  margin-top: 100px;
}

/* line 5, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_body.scss */
#site-body .img_princip {
  width: 450px;
  height: 300px;
}

/* line 10, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_body.scss */
#site-body .center_img {
  margin-top: 290px;
}

/* line 13, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_body.scss */
#site-body .img_card {
  width: 450px;
  height: 300px;
  text-align: center;
}

/* line 18, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_body.scss */
#site-body .tileindex {
  font-family: "topicrepe";
  font-size: 4.2rem;
  text-align: center;
  font-style: italic;
  color: #FFF;
  text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}

/* line 26, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_body.scss */
#site-body .card {
  border: solid;
  box-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}

/* line 30, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_body.scss */
#site-body .align-text {
  text-align: justify;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_crepe_ajout.scss */
#ajout-crepe {
  background: linear-gradient(#fffff5, #fff1b9);
  width: 100vw;
  height: 100vh;
}

/* line 5, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_crepe_ajout.scss */
#ajout-crepe .ingredtext {
  resize: none;
}

/* line 8, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_crepe_ajout.scss */
#ajout-crepe .aligntext {
  text-align: center;
  font-family: "ecrit2";
}

/* line 12, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_crepe_ajout.scss */
#ajout-crepe .erreur {
  color: red;
  text-align: center;
}

/* line 16, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_crepe_ajout.scss */
#ajout-crepe td {
  background-color: #FFF;
}

/* line 19, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_crepe_ajout.scss */
#ajout-crepe tr {
  border: solid;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modif_crepe.scss */
#modif-crepe {
  background: linear-gradient(#fffff5, #fff1b9);
  width: 100vw;
  height: 100vh;
}

/* line 5, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modif_crepe.scss */
#modif-crepe .ingredtext {
  resize: none;
}

/* line 8, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modif_crepe.scss */
#modif-crepe .aligntext {
  text-align: center;
  font-family: "ecrit2";
}

/* line 12, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modif_crepe.scss */
#modif-crepe .erreur {
  color: red;
  text-align: center;
}

/* line 16, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modif_crepe.scss */
#modif-crepe td {
  background-color: #FFF;
}

/* line 19, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modif_crepe.scss */
#modif-crepe tr {
  border: solid;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_nos_crepes.scss */
#site-noscrepes {
  background: linear-gradient(#fffff5, #fff1b9);
}

/* line 4, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_nos_crepes.scss */
#site-noscrepes .aligntext {
  text-align: center;
  font-family: "ecrit2";
  color: #000;
}

/* line 9, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_nos_crepes.scss */
#site-noscrepes .ingredtext {
  resize: none;
}

/* line 12, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_nos_crepes.scss */
#site-noscrepes .redim_photo {
  width: 300px;
  height: 200px;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_avis.scss */
#avis-site {
  background: linear-gradient(#fffff5, #fff1b9);
  width: 100vw;
  height: 100vh;
}

/* line 5, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_avis.scss */
#avis-site .aligntext {
  text-align: center;
  font-family: "ecrit2";
}

/* line 9, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_avis.scss */
#avis-site .erreur {
  color: red;
  text-align: center;
}

/* line 13, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_site_avis.scss */
#avis-site .ingredtext {
  resize: none;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modifier_suppr.scss */
#modif_suppr {
  background: linear-gradient(#fffff5, #fff1b9);
  width: 100vw;
  height: 100vh;
}

/* line 5, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modifier_suppr.scss */
#modif_suppr .ingredtext {
  resize: none;
}

/* line 8, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modifier_suppr.scss */
#modif_suppr .aligntext {
  text-align: center;
  font-family: "ecrit2";
}

/* line 12, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modifier_suppr.scss */
#modif_suppr .erreur {
  color: red;
  text-align: center;
}

/* line 16, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modifier_suppr.scss */
#modif_suppr td {
  background-color: #FFF;
}

/* line 19, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_modifier_suppr.scss */
#modif_suppr tr {
  border: solid;
}

/* line 1, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_ajout_news.scss */
#ajout_news {
  background: linear-gradient(#fffff5, #fff1b9);
  width: 100vw;
  height: 100vh;
}

/* line 5, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_ajout_news.scss */
#ajout_news .aligntext {
  text-align: center;
  font-family: "ecrit2";
}

/* line 9, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_ajout_news.scss */
#ajout_news .erreur {
  color: red;
  text-align: center;
}

/* line 13, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_ajout_news.scss */
#ajout_news td {
  background-color: #FFF;
}

/* line 16, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_ajout_news.scss */
#ajout_news tr {
  border: solid;
}

/* line 19, ../../../../../wamp64/www/topi_crepe/ressources/sass/components/_ajout_news.scss */
#ajout_news .ingredtext {
  resize: none;
}

@font-face {
  font-family: "topicrepe";
  src: url("../../assets/polices/varsity_regular.ttf");
}

@font-face {
  font-family: "ecrit2";
  src: url("../../assets/polices/OrelegaOne-Regular.ttf");
}

@font-face {
  font-family: "ecrit3";
  src: url("../../assets/polices/ArchitectsDaughter-Regular.ttf");
}

/*# sourceMappingURL=style.css.map */