#site-connexion{
    background: linear-gradient(#fffff5, #fff1b9);
    width: 100vw;
    height: 100vh;
    .aligntext{
        text-align: center;
        font-family: "ecrit2";
    }
    .erreur{
        color: $red;
        text-align: center;
    }  
}