.menu_global{
    
}
.menu{
    align-items: center;
    justify-content: center;
}
.menu_change{
    color: $yellow;
    font-size: 1.5rem;
    text-shadow: $black 1px 1px, $black -1px 1px, $black -1px -1px, $black 1px -1px;
}
.change_title_menu{
    font-family: "topicrepe";
    font-size: 4rem;
}

