#site-noscrepes{
    background: linear-gradient(#fffff5, #fff1b9);

    .aligntext{
        text-align: center;
        font-family: "ecrit2";
        color: $black;
    }
    .ingredtext{
        resize: none;
    }
    .redim_photo{
        width: 300px;
        height: 200px;
    }


}