@font-face{
    //Va chercher ma police stocker dans un dossier pour lui donner un nom
    //Police utilisé dans la page '_header.scss'
    font-family: "topicrepe";
    src: url("../../assets/polices/varsity_regular.ttf");
}
@font-face{
    //Va chercher ma police stocker dans un dossier pour lui donner un nom
    //Police utilisé dans la page '_header.scss'
    font-family: "ecrit2";
    src: url("../../assets/polices/OrelegaOne-Regular.ttf");
}
@font-face{
    //Va chercher ma police stocker dans un dossier pour lui donner un nom
    //Police utilisé dans la page '_header.scss'
    font-family: "ecrit3";
    src: url("../../assets/polices/ArchitectsDaughter-Regular.ttf");
}