#site-body{
    margin-top: 100px;

    
    .img_princip{
        width: 450px;
        height: 300px;
        
    }
    .center_img{
        margin-top: 290px;
    }
    .img_card{
    width: 450px;
    height: 300px;
    text-align: center;
    }
    .tileindex{
        font-family: "topicrepe";
        font-size: 4.2rem;
        text-align: center;
        font-style: italic;
        color: $white;
        text-shadow: $black 1px 1px, $black -1px 1px, $black -1px -1px, $black 1px -1px;
    }
    .card{
        border:solid;
        box-shadow: $black 1px 1px, $black -1px 1px, $black -1px -1px, $black 1px -1px;
    }
    .align-text{
        text-align:justify;
    }
}